{% extends 'base.html' %}
{% load static %}
{% block title %}Аренда бокса — SelfStorage{% endblock %}
{% block content %}
<main class="container mt-header">
    <article class="row">
        <div class="col-12 col-lg-6 mb-3 mb-lg-0">
            <h1 class="fw-bold SelfStorage_green mb-5">Доставка и бережное хранение ваших вещей</h1>
            <h4 class="fw-lighter SelfStorage_grey mb-5">Аренда бокса на любой срок Бесплатная доставка от вашего дома </h4>
            <form class="">
                <input type="text" required name="EMAIL1" class="form-control  border-8 mb-4 py-3 px-5 border-0 fs_24 SelfStorage__bg_lightgrey" placeholder="Укажите ваш e-mail">
                <button class="btn  border-8 py-3 px-5 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Рассчитать стоимость</button>
                <span class="text-center fw-light">Нажимая на кнопку, вы подтверждаете свое <a href="#" class="link-dark">согласие на обработку персональных данных</a></span>
            </form>
        </div>
        <div <div class="col-12 col-lg-6 SelfStorage__img-dynamic" style="background-image: url({% static 'img/image.png' %});"></div>
    </article>
    <article class="mt-header">
        <h1 class="text-center fw-bold SelfStorage_green mb-5">Аренда боксов</h1>
        <h6 class="text-center SelfStorage_grey">Арендуйте склад индивидуального хранения по уникальной цене прямо сейчас</h6>
        <a href="#BOX" id="toBox" class="d-none"></a>
        <ul class="nav nav-pills mb-3 d-flex justify-content-between" id="boxes-links" role="tablist">
            {% for warehouse in warehouses %}
            <li class="nav-item flex-grow-1 mx-2" role="presentation">
                <a href="#BOX" class="row text-decoration-none py-3 px-4 mt-5 SelfStorage__boxlink" id="pills-{{ warehouse.id }}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{ warehouse.id }}" role="tab" aria-controls="pills-{{ warehouse.id }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                    <div class="col-12 col-lg-3 d-flex justify-content-center">
                        {% if warehouse.images.first %}
                            <img src="{{ warehouse.images.first.image.url }}" alt="{{ warehouse.town }}" class="mb-3 mb-lg-0" style="max-height: 100px; object-fit: cover; border-radius: 8px;">
                        {% else %}
                            <img src="{% static 'img/image16.png' %}" alt="{{ warehouse.town }}" class="mb-3 mb-lg-0" style="max-height: 100px;">
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 d-flex flex-column justify-content-center">
                        <h4 class="text-center">{{ warehouse.town }}</h4>
                        <h6 class="text-center">{{ warehouse.address }}</h6>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 d-flex flex-column justify-content-center">
                        <h4 class="text-center">{{ warehouse.free_count }}  из {{ warehouse.total_count }}</h4>
                        <h6 class="text-center">Боксов свободно</h6>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 d-flex flex-column justify-content-center">
                        <h4 class="text-center SelfStorage_green">от {{ warehouse.min_price_val }} ₽</h4>
                        <h6 class="text-center">Рядом с метро</h6>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
        <script>
            {% for warehouse in warehouses %}
            document.getElementById('pills-{{ warehouse.id }}-tab').addEventListener('click', () => {document.getElementById('toBox').click()})
            {% endfor %}
        </script>
    </article>
    <article class="pt-header" id="BOX">
        <div class="tab-content" id="boxes-content">
            {% for warehouse in warehouses %}
            <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" 
                id="pills-{{ warehouse.id }}" 
                role="tabpanel" 
                aria-labelledby="pills-{{ warehouse.id }}-tab">
                <h1 class="text-center mb-4 fw-bold">{{ warehouse.town }}, {{ warehouse.address }}</h1>
                <div class="row d-flex flex-column mb-5">
                    <div class="col-12 col-sm-6 col-lg-4 d-flex justify-content-between align-self-center">
                        <a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" 
                        data-bs-placement="bottom" title="Контакты" 
                        data-bs-content="{{ warehouse.contacts|default:'Нет данных' }}">
                            Контакты
                        </a>
                        <a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" 
                        data-bs-placement="bottom" title="Описание" 
                        data-bs-content="{{ warehouse.description|default:'Нет описания' }}">
                            Описание
                        </a>
                        <a type="button" class="SelfStorage_orange" data-bs-container="body" data-bs-toggle="popover" 
                        data-bs-placement="bottom" title="Проезд" 
                        data-bs-content="{{ warehouse.directions|default:'Нет данных' }}">
                            Проезд
                        </a>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12 col-lg-5">
                        <div id="carouselExampleControls{{ warehouse.id }}" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner rounded shadow-sm">
                                {% with images=warehouse.images.all %}
                                    {% if images %}
                                        {% for image in images %}
                                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                            <div class="SelfStorage__img-box" style="background-image: url('{{ image.image.url }}');">
                                            </div>
                                        </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="SelfStorage__img-box" style="background-image: url('{% static 'img/image2.png' %}');">>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </div>
                            {% with images=warehouse.images.all %}
                            {% if images|length > 1 %}
                            <div class="d-flex justify-content-center gap-2 mt-3">
                                <button data-bs-target="#carouselExampleControls{{ warehouse.id }}" data-bs-slide="prev" 
                                        class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green" 
                                        style="width: 40px; height: 40px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#fff" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                                    </svg>
                                </button>
                                <button data-bs-target="#carouselExampleControls{{ warehouse.id }}" data-bs-slide="next" 
                                        class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green" 
                                        style="width: 40px; height: 40px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#fff" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </button>
                            </div>
                            {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                    <div class="col-12 col-lg-7">
                        <div class="row">
                            <p class="text-center text-lg-start SelfStorage_grey">Доступ по QR</p>
                            <div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
                                <span class="fs-3 fw-bold SelfStorage_orange">{{ warehouse.temperature|default:'17' }} °C</span>
                                <span class="SelfStorage_grey mb-3">Температура на складе</span>
                                <span class="fs-3 fw-bold SelfStorage_orange">{{ warehouse.free_count }} из {{ warehouse.total_count }}</span>
                                <span class="SelfStorage_grey mb-3">Боксов свободно</span>
                            </div>
                            <div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
                                <span class="fs-3 fw-bold SelfStorage_orange">до {{ warehouse.ceiling_height }} м</span>
                                <span class="SelfStorage_grey mb-3">Высота потолка</span>
                                <span class="fs-3 fw-bold SelfStorage_orange">от {{ warehouse.min_price_val }} ₽</span>
                                <span class="SelfStorage_grey mb-3">Оплата за месяц</span>
                            </div>
                            <div class="d-flex flex-column align-items-center align-items-lg-start mt-3">
                                <a href="#pills-tab" role="button" class="btn w-75 fs-5 px-5 py-3 text-white border-8 SelfStorage__bg_green SelfStorage__btn2_green mb-3">Арендовать бокс</a>
                                <button class="btn w-75 fs-5 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange">Позвонить мне</button>
                            </div>
                            <a href="{% url 'faq' %}" class="text-center text-lg-start mt-4 SelfStorage_orange">Нужна помощь?</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <ul class="nav nav-pills pt-header d-flex justify-content-between" id="pills-tab" role="tablist">
            <li class="nav-item flex-grow-1 mx-2" role="presentation">
                <button class="btn my-2 w-100 fs_24 SelfStorage__tab active" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all" type="button" role="tab" aria-controls="pills-all" aria-selected="true">Все боксы</button>
            </li>
            <li class="nav-item flex-grow-1 mx-2" role="presentation">
                <button class="btn my-2 w-100 fs_24 SelfStorage__tab" id="pills-to3-tab" data-bs-toggle="pill" data-bs-target="#pills-to3" type="button" role="tab" aria-controls="pills-to3" aria-selected="false">До 3 м²</button>
            </li>
            <li class="nav-item flex-grow-1 mx-2" role="presentation">
                <button class="btn my-2 w-100 fs_24 SelfStorage__tab" id="pills-to10-tab" data-bs-toggle="pill" data-bs-target="#pills-to10" type="button" role="tab" aria-controls="pills-to10" aria-selected="false">До 10 м²</button>
            </li>
            <li class="nav-item flex-grow-1 mx-2" role="presentation">
                <button class="btn my-2 w-100 fs_24 SelfStorage__tab" id="pills-from10-tab" data-bs-toggle="pill" data-bs-target="#pills-from10" type="button" role="tab" aria-controls="pills-from10" aria-selected="false">От 10 м²</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
                {% for warehouse in warehouses %}
                    {% for box_type in warehouse.box_types.all %}
                        {% for box in box_type.boxes.all %}
                            {% if box.status == 'free' %}
                            <a href="{% url 'order' %}?box_id={{ box.id }}" class="row text-decoration-none py-3 px-4 mt-3 SelfStorage__boxlink">
                                <div class="col-12 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
                                    <span class="fs_24">№{{ box.number }}</span>
                                </div>
                                <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
                                    <span class="fs_24">{{ box_type.volume }} м³</span>
                                </div>
                                <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
                                    <span class="fs_24">{{ box_type.length }} х {{ box_type.width }} х {{ box_type.height }} м</span>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <span class="btn my-2 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange border-8">
                                        {{ box_type.price }} ₽/мес
                                    </span>
                                </div>
                            </a>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="pills-to3" role="tabpanel" aria-labelledby="pills-to3-tab">
                {% for warehouse in warehouses %}
                    {% for box_type in warehouse.box_types.all %}
                        {% if box_type.category == 'small' %}
                            {% for box in box_type.boxes.all %}
                                {% if box.status == 'free' %}
                                <a href="{% url 'order' %}?box_id={{ box.id }}" class="row text-decoration-none py-3 px-4 mt-3 SelfStorage__boxlink">
                                    <div class="col-12 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
                                        <span class="fs_24">№{{ box.number }}</span>
                                    </div>
                                    <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
                                        <span class="fs_24">{{ box_type.volume }} м³</span>
                                    </div>
                                    <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
                                        <span class="fs_24">{{ box_type.length }} х {{ box_type.width }} х {{ box_type.height }} м</span>
                                    </div>
                                    <div class="col-12 col-lg-3">
                                        <span class="btn my-2 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange border-8">
                                            {{ box_type.price }} ₽/мес
                                        </span>
                                    </div>
                                </a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="pills-to10" role="tabpanel" aria-labelledby="pills-to10-tab">
                {% for warehouse in warehouses %}
                    {% for box_type in warehouse.box_types.all %}
                        {% if box_type.category == 'medium' %}
                            {% for box in box_type.boxes.all %}
                                {% if box.status == 'free' %}
                                <a href="{% url 'order' %}?box_id={{ box.id }}" class="row text-decoration-none py-3 px-4 mt-3 SelfStorage__boxlink">
                                    <div class="col-12 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
                                        <span class="fs_24">№{{ box.number }}</span>
                                    </div>
                                    <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
                                        <span class="fs_24">{{ box_type.volume }} м³</span>
                                    </div>
                                    <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
                                        <span class="fs_24">{{ box_type.length }} х {{ box_type.width }} х {{ box_type.height }} м</span>
                                    </div>
                                    <div class="col-12 col-lg-3">
                                        <span class="btn my-2 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange border-8">
                                            {{ box_type.price }} ₽/мес
                                        </span>
                                    </div>
                                </a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="pills-from10" role="tabpanel" aria-labelledby="pills-from10-tab">
                {% for warehouse in warehouses %}
                    {% for box_type in warehouse.box_types.all %}
                        {% if box_type.category == 'large' %}
                            {% for box in box_type.boxes.all %}
                                {% if box.status == 'free' %}
                                <a href="{% url 'order' %}?box_id={{ box.id }}" class="row text-decoration-none py-3 px-4 mt-3 SelfStorage__boxlink">
                                    <div class="col-12 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
                                        <span class="fs_24">№{{ box.number }}</span>
                                    </div>
                                    <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
                                        <span class="fs_24">{{ box_type.volume }} м³</span>
                                    </div>
                                    <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
                                        <span class="fs_24">{{ box_type.length }} х {{ box_type.width }} х {{ box_type.height }} м</span>
                                    </div>
                                    <div class="col-12 col-lg-3">
                                        <span class="btn my-2 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange border-8">
                                            {{ box_type.price }} ₽/мес
                                        </span>
                                    </div>
                                </a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </article>
</main>
{% endblock %}